<div id="logged-in">
  <div>
    <h1>Hello, {{.Name}}</h1>
    <br />
    <form>
      <input
        class="border-2 border-gray-400 rounded-1"
        type="text"
        name="todoText"
        placeholder="Enter a Todo Item"
      />
      <button
        class="bg-sky-400 hover:bg-sky-600 rounded-1"
        name="username"
        value="{{.Name}}"
        hx-post="/addTodo"
        hx-target="#logged-in"
        hx-swap="outerHTML"
      >
        Add Todo
      </button>
    </form>
  </div>

  <div id="todo-list">
    <ul>
      {{range $idx, $elem := .TodoList}} {{if $elem.Done}}
      <div class="inline-flex">
        <li class="pr-1"><s>{{ $elem.Text }}</s></li>
        <form>
          <input
            type="checkbox"
            name="done"
            value="false"
            hx-post="/toggleTodo"
            hx-target="#logged-in"
            hx-trigger="input"
            hx-swap="outerHTML"
            checked
          />
          <input type="hidden" name="todoIdx" value="{{ $idx }}" />
          <input type="hidden" name="username" value="{{ $.Name }}" />
        </form>
      </div>
      <br />
      {{else}}
      <div class="inline-flex">
        <li class="pr-1">{{ $elem.Text }}</li>
        <form>
          <input
            type="checkbox"
            name="done"
            value="false"
            hx-post="/toggleTodo"
            hx-target="#logged-in"
            hx-trigger="input"
            hx-swap="outerHTML"
            unchecked
          />
          <input type="hidden" name="todoIdx" value="{{ $idx }}" />
          <input type="hidden" name="username" value="{{ $.Name }}" />
        </form>
      </div>
      <br />
      {{end}} {{end}}
    </ul>
  </div>
</div>
